body {
  font-family: 'Noto Sans', sans-serif;
}

p{
  font-size:20px;
}

li{
  list-style: none;
  }   

.glyphicon{
  color: #9abf0f;
  font-size:25px;
}

.glyphicon .glyphicon-chevron-down{
  color:#5cc2d1;
}

a{
  color:#5cc2d1;
}

a:hover{
  color:#9abf0f;

}
/* NAVBAR
------------------------------------------*/

.navbar {
  border: none;
}

.navbar-brand {
    padding: 15px 15px;
    font-size: 33px;
}

.navbar-default {
    background-color: #5cc2d1; /*#9abf0f;*/
    margin: 0;
}

 .navbar-default .navbar-nav>li>a:focus, 
  .navbar-default .navbar-nav>li>a:hover {
    color: #254117;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-brand:focus, 
  .navbar-default .navbar-brand:hover {
      color: #4cb8b4;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav>.active>a,
 .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover{
    color: #9abf0f; 
    background: none;
  }
.navbar-nav {
  font-size: 20px;
  padding-right: 0px;
}

/* BOUTONS
------------------------------------------*/

.btn{
  border: 2.5px solid transparent;
  border-radius: 0px;
  padding: 7px 15px;
  margin: 3px;
}

.btn-default{
  background-color: #ff7477;
  color:  black; 
  border-color: #ff7477;
}

/* ----------------------------------------------------
                    ACCUEIL
----------------------------------------------------*/

#accueil {
  max-width: 100%;
  margin-top: 60px;
}


/* ----------presentation----------*/
#presentation{
  padding-top:60px;
}

#presentation li{
   font-size: 20px !important;
}

#presentation h3{
  padding-top:20px;
  padding-bottom:45px;
}

#presentation p{
  padding-top:20px;
  padding-bottom:15px;
}

/*----------3 blocks----------*/
.action-block, .financement-block, .membres-block{
  width:80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
  padding-top:5px;
  border-radius: 10px;
  border: 1px solid #9abf0f;
  background: #fff;
  margin-bottom: 10px;
  margin-top: 20px;
}

.action-block .glyphicon, .financement-block .glyphicon, .membres-block .glyphicon{
  font-size: 25px;
  color:#9abf0f /*#5cc2d1;*/
  padding-top : 5px;
  margin-top: 5px;
}

.action-block h2, .financement-block h2, .membres-block h2{
  margin-top:5px;
}

/*----------carousel----------*/
#slides{
  padding-top:60px ;
  padding-bottom:60px;
}

  #carousel {
  max-width: 50%;
  margin:auto;
}

.carousel-control .glyphicon{
  color: white;
}


/* ----------------------------------------------------
              PAGE A PROPOS
----------------------------------------------------*/

#apelsfa{
  margin-top : 75px;
}

h2{
  margin-top: 40px;
  margin-bottom:25px; 
  color: #9abf0f;
}

img{
  max-width:90%;
  border:solid 1px #9abf0f;
}

#financement{
  padding-top: 25px;

}

#financement p{
  margin-bottom: 50px;
}

#financement img{
  border: none;
}

#financement .glyphicon-chevron-down{
  margin-top: 25px;
}

#conseil_administration{
  margin-top: 25px;
}

#galerie{
  padding-top: 50px;
}

#galerie img{
  max-width:100%;
  border:solid 2px #9abf0f;
  border-radius: 20px;
}

.gallery img{
  margin-top: 10%
}

#galerie .fa {
  color:#5cc2d1;
}


/* PAGE AGENDA
----------------------------------------------------*/
#agenda {
  margin-top: 50px;
}

#agenda p{
    font-size: 20px;
}

#agenda li{
    font-size: 20px;
}

#events h2{
  padding-top: 50px;
}

#entete{
    background-color: #5cc2d1;
    font-weight:bold;
}

#entete, #manifestation{
    border: solid 1px #5cc2d1;
}

#agenda em{
    font-size: 15px;
}

#date h1{
    margin-top: 15px;
}

#date{
    margin-top:5px;
    margin-bottom:25px;
}

/* CONTACT
--------------------------------------------------*/
#contact {
  margin-top: 50px;
  margin-bottom:70px;
}

#contact h2{
  color:#9abf0f;
}

#contact p{
  font-size: 15px;
}

#mail img{
  margin-top: 15px;
  border: none;
  max-width: 60% 
}


#actualite h2{
  color:#9abf0f;
}
#actualite iframe{
  margin-top:20px;
  border:solid 1px #9abf0f;
  border-radius: 5px;
}


/* FOOTER 
-------------------------------------------------*/
footer{
  background: #5cc2d1;
  padding: 10px 0 10px;
  margin-top: 25px;
}

footer p,footer a{
  font-size:18px !important;

}
footer a{
  color:black;
}

footer a:hover{
  color:white;
}


/* MEDIA QUERIES
--------------------------------------------------*/

/*footer*/
  footer {
  font-size:9px;




  }
/* HOVER
--------------------------------------------------*/
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: #333;
    border-color: white;
    background-color: transparent;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}